*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 ,h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

*:focus {outline: none}

body {
    font-family: 'Poppins', sans-serif;
}


.container {
    max-width: 1120px;
    padding: 0 10px;
    margin: 0 auto;
}

/*   HEADER   */

.header {
    padding-top: 23px;
    padding-bottom: 44px;
    
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo-img {
    margin-right: 16px;
}

.logo-title {
    color: #173a56;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
}

.header__menu {
    display: flex;
    align-items: baseline;
}

.menu {
    display: flex;

}

.menu__item {
    margin-right: 30px;
    color: #22343d;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.menu__item:last-child {
    margin-right: 24px;
}

.btn {
    font-size: 16px;
    line-height: 24px;
}

.header__in {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    font-weight: 600;
    padding: 10px 25px;
    margin-right: 24px;
}

.header__up {
    background-color: #02897a;
    border-radius: 4px;
    color: #fff;
    padding: 10px 25px;
    margin-right: 24px;
}

.header_colors {
    background-color: #f3f3f3;
    border-radius: 100px;
    border: none;
    position: relative;
}

.colors {
    padding: 2px;
    max-width: 24px;
    max-height: 24px;
    position: relative;
    top: 6px;
}

/*   // HEADER   */

/*   STARTED   */

.started {
    padding-bottom: 115px;
}

.started__inner {
    display: flex;
    align-items: center;
    gap: 33px;
    color: #22343d;
}

.started__content-title {
    max-width: 420px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 18px;
}

.started__content-text {
    max-width: 458px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
}

.content-btn__inner {
    display: flex;
    align-items: center;
}

.started__content-btn {
    display: inline-block;
    color: #fff;
    background-color: #02897a;
    border-radius: 4px;
    padding: 15px 41px;
    margin-right: 30px;
}
.started__content-video {
    display: flex;

}

.started__content-video span {
    text-decoration: underline;
    color: #02897a;
}

.video-img {
    margin-right: 9px;
}
/*   // STARTED   */


/*   SPECIFICALLY   */
.specifically {
    background: url(../images/Main/Specifically/Bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 90px;
    margin-bottom: 150px;
    
}


.specifically__title {
    color: #22343d;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    max-width: 530px;
    text-align: center;
    margin: 0 auto 66px auto;
}

.specifically__inner {
    display: flex;
    justify-content: space-between;
    color: #22343d;
    margin-bottom: 60px;
    
}

.specifically__card {
    max-width: 240px;
}

.specifically__card-img {
    margin-bottom: 46px;
}

.specifically__card-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 13px;
}

.specifically__card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.specifically__btn {
    display: block;
    max-width: 177px;
    background-color: #02897a;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 34px;
    margin: 0 auto;
}

/*   // SPECIFICALLY   */

/*   SERVICES   */
.services {
    color: #22343d;
}

.services__slot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 187px;
}

.services__slot:nth-child(2) {
    flex-direction: row-reverse;
}

.services__slot_content {
    max-width: 421px;
}

.services__slot-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 23px;
}

.services__slot-title span {
    display: block;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

.services__slot-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}

.services__slot-text:last-child {
    margin: 0;
}

.services__list-item img {
    width: 35px;
    height: 35px;
}

.services__list-item{
   display: flex;
   gap: 30px;
   margin-bottom: 40px;
}
/*   // SERVICES   */


/*   PROCESS   */
.process {
    background-image: url(../images/Main/Process/Bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.process__title {
    padding-top: 52px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 16px;
}

.process__text {
    max-width: 542px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin: 0 auto 32px auto;
}

.process__inner {
    display: flex;
    justify-content: space-around;
    margin-bottom: 48px;
}

.card__item {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.card__item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2f281e;
    padding: 15px 25px;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
}


.process__card:nth-child(1) .card__item:nth-child(2) {
    flex-direction: row-reverse;
}

.process__card:nth-child(2) .card__item:nth-child(1) {
    flex-direction: row-reverse;
}

.process__btn {
    display: block;
    max-width: 216px;
    margin: 0 auto 150px auto;
    background-color: #02897a;
    border-radius: 4px;
    padding: 15px 30px;
    color: #fff;
}

/*   // PROCESS   */


/*   STRATEGIES  */
.strategies {
    color: #22343d;
}

.strategies__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 8px;
}

.strategies__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 33px;
}

.strategies__inner {
    display: flex;
    justify-content: space-between;
    gap: 33px;
    margin-bottom: 64px;
}

.strategies__card {
    max-width: 348px;
    border-radius: 8px;
    border: 1px solid #c0c0c0;
    border-top: none;
}

.strategies__card-img {
    width: 100%;
    min-height: 183px;
    margin-bottom: 24px;
}

.strategies__card-content {
    padding: 0 24px;
}
.strategies__card-name {
    display: inline-block;
    margin-bottom: 12px;
}

.strategies__card-name span {
    font-weight: 700;
}

.strategies__card-date {
    display: inline-block;
}

.strategies__card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
}

.strategies__slider-btns {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 150px;
}

.slider__btn {
    width: 16px;
    height: 16px;
    background-color: #efefef;
    border-radius: 100%;
    cursor: pointer;
}

.active {
    background-color: #02897a;
}

/*   // STRATEGIES  */
